<link type="text/css" rel="stylesheet" href="dashboard-navigation.css">
<header>
    <h3 class="text-left dashboardHeader">
        <a class="nav-item" href="#">DASHBOARD</a>
    </h3>
</header>
<ul class="nav nav-stacked">
  <li class="nav-item dashboardItem ">
    <a class="nav-link dashboardLink dashboardItemHeader" href="#">> Hubs</a>
    <ul class="nav nav-stacked dropdownDisable dropdown">
        <li class="dashboardListItem">
            <a class="nav-link dashboardLink" href="#"> dsadsa</a>
        </li>
    </ul>
  </li>
  <li class="nav-item dashboardItem">
    <a class="nav-link dashboardLink dashboardItemHeader" href="#">> Tournaments</a>
    <ul class="nav nav-stacked dropdownDisable dropdown">
        <li class="dashboardListItem">
            <a class="nav-link dashboardLink" href="#"> dsadsa</a>
        </li>
    </ul>
  </li>
  <li class="nav-item dashboardItem">
    <a class="nav-link dashboardLink dashboardItemHeader" href="#">> Teams</a>
    <ul class="nav nav-stacked dropdownDisable dropdown" >
        <li class="dashboardListItem">
            <a class="nav-link dashboardLink" href="#"> dsadsa</a>
        </li>
    </ul>
  </li>
</ul>