<div class="p-5 mb-4 bg-light rounded-3">
    <div class="">
        <h1 class="display-5 fw-bold">About</h1>
        <p class="col-md-8">Fastwin was created by Daniel Ekeroth and Oskar Eek and serves the only purpose to bring players across the globe together in a more competetive environment!</p>
        <a href="hubs/all" class="btn btn-primary btn-lg" type="button">Explore the hubs!</a>
    </div>
</div>