<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#if users.length}}
        {{#each users}}
            <div class="col">
                <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text"><strong>Username</strong>: {{this.username}}</p>
                    <p class="card-text"><strong>Email</strong>: {{this.email}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/users/{{this.id}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">There are currently no players in this tournament!</h1>
            </div>
        </section>
    {{/if}}
</div>
