<div class="col-md-12">
      <h4 class="mb-3">Hub information</h4>
      <form class="needs-validation" method="POST">
      <!--
      	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
        -->
        <div class="mb-3">
          <label for="Hub name">Hub name</label>
          <div class="input-group">
            <input type="text" class="form-control" name="tournament_name" id="hub_name" placeholder="Headshot Hub" required="true">
            <div class="invalid-feedback" style="width: 100%;">
              A Hub name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="Description">Description</label>
          <div class="input-group">
            <textarea type="text" class="form-control" id="description" name="description"rows="2" placeholder="Lorem Ipsum has been the industry'sstandard dummy text ever since the 1500s, when an unknown printertook a galley of type and scrambled it to make a type specimen book." required="true"></textarea>
            <div class="invalid-feedback" style="width: 100%;">
              A description for the hub is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="game">Game</label>
            <select class="custom-select d-block w-100" id="game" name="game" required="">
              <option value="">Choose...</option>
              <option>Counter-Strike: Global Offensive</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid game.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="max_players">Max players</label>
            <select class="custom-select d-block w-100" id="max_players" name="max_players" required="">
              <option value="">Choose...</option>
              <option>8</option>
              <option>16</option>
              <option>32</option>
              <option>64</option>
              <option>128</option>
              <option>256</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid option.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Create tournament</button> 
      </form>
</div>