<div class="container">
    <div class="row row-cols-1">
        <div class="col">
            <h1>Username</h1>
            <p>Member since: "some date"</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Most active in: </h2>
        </div>
        <div class="col">
            <h4>Latest posts: </h4>
        </div>
    </div>
</div>