ul{
    padding-inline-start: 0;
    padding-left: 0;
}
li{
    width: 100%;
}

.dashboardItem{
    padding-left: 25px;
    color: #a0a0a0;
    margin-bottom: 20px;
}
a:hover{
    color: white;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}