ul{
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
}
.nav-link{
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
}
li{
    width: 100%;
    padding-left: 0;
}
li a{
    width: 100%;
    color: #a0a0a0;
}
li a:hover{
    background-color: #404040;
    color:white;
}
a:hover{
    text-decoration: none;

}
.dashboardItem{
    margin-bottom: 10px;
    padding-right: 0;
}

.dashboardLink{
    padding-left: 25px;
}

.dashboardHeader a{
    color: #a0a0a0;
}
.dashboardHeader:hover{
    color: white;
    background: #404040;
    cursor: pointer;

}

.nav.nav-stacked{
    width: 100%;
}

.dropdownDisable{
    display: none;
}
.dashboardListItem a.dashboardLink{
    padding-left: 50px;
}